#background{
    position: fixed; 
    left: 100px; 
    top: 100px; 
    /* z-index: 0;  WHAT IS THIS */

}


#storage{
    position:fixed; 
    left:800px; 
    top:250px;
}

#ether{
    position: fixed;
    left:00px;
    top:00px;
    /* background-color: black; */
    /* opacity: 0.4 */
}

.piece{
   width: 20px;
   height: 20px;
display: none
   
} 

#timer{
    width: 1000px;
    height: 1000px;
    size: 300px;
}

body{
   /* background-color: black;*/    
}