#background{
    position: fixed; 
    left: 100px; 
    top: 100px; 
    z-index: 0; 

}


#storage{
    position:fixed; 
    left:800px; 
    top:250px;
    background-color: bisque
}

.piece{
   width: 20px;
   height: 20px;
display: none
   
} 

body{
    background-color: black;
}